@import "tailwindcss";

@theme {
  --color-primary: #15803d; /* green-700 */
  --color-primary-foreground: #ffffff;
  --color-accent: #f0fdf4; /* green-50 */
}

@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900;
  }
}
